
body {
    /*background-color: #98fb98;  //whitesmoke;*/
    background-image: url('ksiazki6.jpg');
    background-repeat: no-repeat;
    font-family:arial,helvetica, sens-serif;
    margin:0;
    padding:0;
    text-align:left;
    font-size:13px;
}